<footer class="footer">
<div class="container">
  <div class="logo">
    <a class="logo__link" href="#">
      <svg class="logo__icon">
        <use xlink:href="images/sprite.svg#logo"></use>
      </svg>
    </a>
  </div>
  <div class="footer__content">
    <ul class="footer__list">
      <li class="footer__item">
        <a class="footer__link" href="#">SERVICES</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">ABOUT US</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">NEWS</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">CONTACT</a>
      </li>
    </ul>
    <p class="footer__corp">© 2021 Air. All rights reserved.</p>
  </div>
</div>

</footer>
                        