<div class="overlay"></div>
<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="logo">
        <a class="logo__link" href="#">
          <svg class="logo__icon">
            <use xlink:href="images/sprite.svg#logo"></use>
          </svg>
        </a>
      </div>
      <button class="header__burger" type="button">
        <span class="header__burger-line"></span>
        <span class="sr-only">open menu</span>
      </button>
      <nav class="header__menu">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" href="#">Home</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Booking</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#privat">Private Jet</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#specification">Specification</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#luxury">Luxury Charters</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#membership">Membership</a>
          </li>
        </ul>
      </nav>  
      <ul class="header__open">
        <li class="header__open-item">
          <a class="header__open-link" href="#">Register</a>
        </li>
        <li class="header__open-item">
          <a class="header__open-link" href="#">Sign In</a>
        </li>
      </ul>                    
    </div>
    <div class="header__content">
      <h3 class="header__title">
        Enjoy <span>Reserved</span> Overhead bin space
      </h3>
      <a class="header__content-link" href="#">Explore Now</a>
    </div>
  </div>
</header>